<mat-toolbar class="footer_container">

    <section class="footer">

    <div class="redes">
        <h3>-Redes Sociais e Contato</h3>
        <ul>
            <li mat-button routerLink="/">Home</li>
            <li mat-button routerLink="/adicionar">Criar uma História</li>
            <li mat-button routerLink="/sobre">Sobre</li>
            <li mat-button routerLink="/cadastro">Cadastrar-se</li>
        </ul>
    </div>

    <div class="links">
        <h3>-Links</h3>
        <ul>
            <li>saga.contas&#64;gmail.com</li>
        </ul>
        <span class="icons">
            <img class="insta" src="../../../assets/imgs/insta_dark.png" alt="insta icon">
            <img class="twit" src="../../../assets/imgs/twitter_dark.png" alt="insta icon">
            <img class="face" src="../../../assets/imgs/face_dark.png" alt="insta icon">
        </span>
    </div>
</section>
    <span class="copyright">
        <h3>&#64; 2024 Saga. Todos os direitos reservados</h3>
    </span>
</mat-toolbar>