<div class="container">
  <div class="conteudo" *ngIf="historiaLer">
    <mat-card class="card mat-elevation-z3">
      <mat-card-header>
        <div class="imagem">
          <img *ngIf="historiaLer.imagem" [src]="historiaLer.imagem" alt="Imagem da história" class="historia-image" />
          <div class="subtitulo">{{ historiaLer.autor }}</div>
          <div class="subtitulo_publi">{{ historiaLer.publicacao }}</div>
        </div>
      </mat-card-header>
      <div class="titulo">-{{ historiaLer.titulo }}</div>
      <mat-card-content>
        <div class="content">
          <p>{{ historiaLer.historia_intro }}</p>
          <p>{{ historiaLer.historia_meio }}</p>
          <p>{{ historiaLer.historia_fim }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>