<section class="img_background">
  <img src="../../../assets/imgs/dark_backgrond.png" alt="home background">
  <div class="texto_h1">
    <h1>Contos clássicos</h1>
  </div>
  <div class="texto_p">
    <p>Reviva as histórias da sua infância e <br>
      compartilhe a magia com as novas gerações. </p>
  </div>
</section>

<section class="links">
  <p>Acompanhe-nos para explorar cada conto clássico, redescobrindo valores e aventuras <br> que permanecem atemporais.
  </p>
  <span class="icons">
    <img class="insta" src="../../../assets/imgs/insta_dark.png" alt="insta icon">
    <img class="twit" src="../../../assets/imgs/twitter_dark.png" alt="insta icon">
    <img class="face" src="../../../assets/imgs/face_dark.png" alt="insta icon">
  </span>
</section>

<section class="oferece_container">
  <h1>O que oferecemos</h1>
  <div class="texto_box">
    <p>
      Além de explorar contos que atravessaram o tempo, você tem a <br>
      oportunidade de se tornar um autor dentro do nosso portal.
      <br><br>
      Queremos que este espaço seja não apenas um lugar para <br>
      redescobrir fábulas clássicas, mas também para exercitar a <br>
      criatividade, compartilhando suas próprias histórias e ideias.
      <br><br>
      Ao criar ou adicionar suas narrativas, você se torna parte da <br>
      nossa comunidade, contribuindo para a tradição de contar <br>
      histórias que conectam e inspiram.
    </p>
  </div>
  <button class="add_botao" (click)="irParaTelaAdicionar()">
    Adicione uma história
    <img mat-button class="addIcon" src="../../../assets/imgs/add_full.png" alt="Addiconar Icon" />
  </button>

</section>