<section class="add_container">
  <div class="add-box">
    <h1>Adicionar história</h1>
    <mat-card class="card mat-elevation-z3">
      <form class="form-layout">

        <div class="form-row">
          <input class="border-left" type="file" id="imagem" (change)="onFileSelected($event)" />
          <input class="border-right" matInput [(ngModel)]="historiaData.titulo" name="titulo"
            placeholder="Digite o título" required />
        </div>

        <div class="form-row">
          <input matInput [(ngModel)]="historiaData.autor" name="autor" placeholder="Digite o autor" required />
          <input matInput [(ngModel)]="historiaData.publicacao" name="publicacao" placeholder="Digite a publicação"
            required />
        </div>

        <div class="form-row">
          <textarea matInput [(ngModel)]="historiaData.historia_intro" name="historia_intro" rows="3"
            placeholder="Digite a introdução" required></textarea>
        </div>

        <div class="form-row">
          <textarea class="historia_meio" matInput [(ngModel)]="historiaData.historia_meio" name="historia_meio"
            rows="5" placeholder="Digite o meio" required></textarea>
        </div>

        <div class="form-row">
          <textarea class="border" matInput [(ngModel)]="historiaData.historia_fim" name="historia_fim" rows="3"
            placeholder="Digite o final" required></textarea>
        </div>

        <button type="submit" (click)="onSubmit()" class="button_add">Adicionar História</button>
      </form>
    </mat-card>
  </div>
</section>