<h1>Era uma Vez...</h1>
<div class="container">
  <div class="conteudo" *ngFor="let item of list">
    <mat-card class="card mat-elevation-z3">
      <mat-card-header>
        <div class="imagem">
          <a (click)="lerHistoria(item)">
            <img *ngIf="item.imagem" [src]="item.imagem" alt="Imagem da história" class="historia-image">
          </a>
        </div>
        <mat-card-title class="titulo">{{ item.titulo }}</mat-card-title>
      </mat-card-header>

      <div class="acoes">
        <button (click)="editarHistoria(item)" class="botao_editar" mat-mini-fab>
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="apagar(item.id)" class="botao_deletar" mat-mini-fab id="apagar">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>