<h1>Era uma Vez...</h1>

<div class="container">
  <div class="conteudo" *ngFor="let item of list">
    <mat-card class="card mat-elevation-z3">
      <mat-card-header>
        <div class="imagem">
          <!-- Exibir a imagem com routerLink -->
          <a routerLink="/ler-historia" [queryParams]="{ id: item.id }">
            <img *ngIf="item.imagem" [src]="item.imagem" alt="Imagem da história" class="historia-image">
          </a>
        </div>
        <mat-card-title class="titulo">{{ item.titulo }}</mat-card-title>
      </mat-card-header>

      <div class="acoes">
        <!-- Botão de editar -->
        <button mat-mini-fab class="botao_editar">
          <mat-icon>edit</mat-icon>
        </button>

        <!-- Botão de deletar -->
        <button (click)="apagar(item.titulo || '')" class="botao_deletar" mat-mini-fab id="apagar">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
